html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
/*
html {
  position: relative;
  min-height: 100%;
}*/

body {
  margin-bottom: 60px;
}

/*body {*/
    /*background-color: #0D0D0D;*/
    /*color: #f9f6f6 !important;*/
    /*margin-bottom: 60px;
}*/

/*.nav-tab {
    background-color: #0D0D0D;
}

input#search-by-name::placeholder, input#search-by-firstLetter::placeholder {
    opacity: 1 !important;
    color: #f9f6f693 !important;
}

.logo {
    width: 50px;
}

i {
    cursor: pointer;
}*/

.meal-layer {
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-layer {
    top: 0;
}

.side-nav-menu {
    z-index: 99;
}

.cursor-pointer {
    cursor: pointer;
}

/*.loading-screen {
    z-index: 999;
    display: flex;
}

.inner-loading-screen {
    position: absolute;
    z-index: 9;
    background-color: #0D0D0D;
    display: flex;
}*/

.header .search-top {
    display: none;
}

    .header .search-top a {
        font-size: 17px;
    }

        .header .search-top a:hover {
            color: #F7941D;
        }

.header .search-form {
    position: absolute;
    left: -128px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 46px;
    background: #ffffff75;
    padding: 7px;
    border-radius: 5px;
    transform: scaleY(0);
    box-shadow: 0px 4px 7px #0000003b;
    padding: 0;
    border-radius: 0;
}

.header .search-top.active .search-form {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.header .search-form input {
    width: 220px;
    height: 45px;
    line-height: 45px;
    padding: 0 60px 0 15px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #333;
    border-radius: 0;
}

.header .search-form button {
    position: absolute;
    right: 0;
    height: 45px;
    top: 0;
    width: 45px;
    background: transparent;
    border: none;
    color: #3353ea;
    border-radius: 0 3px 3px 0;
    border-radius: 0;
    border-left: 1px solid #eee;
    font-size: 15px;
    color: #333;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .header .search-form button:hover {
        color: #fff;
        background: #F7941D;
        border-color: transparent;
    }